@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
#main-header.active .navbar {
  padding: 0.5rem 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar .nav-item .nav-link {
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #696871;
  border-bottom: 2px solid transparent;
  margin: 0 7px;
  padding: 4px 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active {
  color: #19191B;
  border-color: #5454D4;
}

.navbar .buttn {
  padding: 12px 40px;
  background-color: #FF7143;
  color: #FFFFFF;
  border-radius: 3px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#hero {
  padding-top: 7rem;
}

#hero .text-box .title {
  display: block;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: 1.5px;
  color: #19191B;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}

#hero .text-box .desc {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  color: #696871;
  font-weight: 500;
  line-height: 30px;
  margin-top: 1.5rem;
}

#hero .text-box .btns .buttn.square {
  padding: 12px 40px;
  background-color: #5454D4;
  color: #FFFFFF;
  border-radius: 3px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-right: 1rem;
}

#hero .text-box .btns .buttn.round {
  width: 46px;
  height: 46px;
  font-size: 22px;
  font-weight: bold;
  color: #696871;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  border: 1px solid #696871;
  margin-left: 1rem;
}

#subscription .text-box {
  display: block;
}

#subscription .text-box .title {
  font-size: 44px;
  font-weight: 800;
  font-family: "Mulish", sans-serif;
  margin-bottom: 2rem;
}

#subscription .text-box .desc {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

#subscription .text-box .link {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: 500;
  color: #5454D4;
  text-decoration: none;
}

#services .card {
  border: none;
}

#services .card .card-body {
  padding: 0.5rem;
}

#services .card .card-body img {
  width: 80%;
}

#services .card .card-body .card-title {
  font-size: 32px;
  font-weight: 800;
  font-family: "Mulish", sans-serif;
  margin-bottom: 1rem;
  color: #19191B;
}

#services .card .card-body .card-text {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #696871;
}

#packages .top-tab-navs .title {
  font-size: 60px;
  line-height: 70px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  color: #19191B;
}

#packages .top-tab-navs .tab-nav {
  border: none;
}

#packages .top-tab-navs .tab-nav .nav-item {
  border: none;
}

#packages .top-tab-navs .tab-nav .nav-item .nav-link {
  border: none;
  padding: 1rem 2rem;
  background: #EAE9F2;
  width: 150px;
  height: 54px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #19191B;
}

#packages .top-tab-navs .tab-nav .nav-item .nav-link.active {
  background: #5454D4;
  color: #FFFFFF;
}

#packages .top-tab-navs .tab-nav .nav-item:first-child .nav-link {
  border-radius: 4px 0px 0px 4px;
}

#packages .top-tab-navs .tab-nav .nav-item:last-child .nav-link {
  border-radius: 0px 4px 4px 0px;
}

#packages .bottom-tabs-contents .card {
  background: #F8F8F8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#packages .bottom-tabs-contents .card .card-body {
  padding: 3rem 2rem;
}

#packages .bottom-tabs-contents .card .card-body .subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #696871;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#packages .bottom-tabs-contents .card .card-body .title {
  font-family: "Mulish", sans-serif;
  color: #19191B;
  font-weight: 800;
  padding-bottom: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#packages .bottom-tabs-contents .card .card-body .title .price {
  font-size: 52px;
}

#packages .bottom-tabs-contents .card .card-body .title .price-time {
  font-size: 24px;
}

#packages .bottom-tabs-contents .card .card-body .list {
  list-style: none;
  padding: 1rem 0;
}

#packages .bottom-tabs-contents .card .card-body .list li {
  font-size: 17px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #696871;
  padding: 0.5rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#packages .bottom-tabs-contents .card .card-body .card-started-btn {
  padding: 1rem 0;
  border-radius: 5px;
  background: #FFFFFF;
  color: #5454D4;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#packages .bottom-tabs-contents .card .card-body .card-started-btn:hover {
  background: #5454D4;
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card:hover {
  background: #FF7143;
}

#packages .bottom-tabs-contents .card:hover .card-body .subtitle {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card:hover .card-body .title {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card:hover .card-body .list li {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card:hover .card-body .card-started-btn {
  background: #FFFFFF;
  color: #5454D4;
}

#packages .bottom-tabs-contents .card:hover .card-body .card-started-btn:hover {
  background: #5454D4;
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card.orange {
  display: block;
  background: #FF7143;
  padding: 1.6rem 0;
}

#packages .bottom-tabs-contents .card.orange .subtitle {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card.orange .title {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card.orange .list li {
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card.orange .card-started-btn {
  background: #9F3919;
  color: #FFFFFF;
}

#packages .bottom-tabs-contents .card.orange:hover {
  background: #F8F8F8;
}

#packages .bottom-tabs-contents .card.orange:hover .card-body .subtitle {
  color: #696871;
}

#packages .bottom-tabs-contents .card.orange:hover .card-body .title {
  color: #19191B;
}

#packages .bottom-tabs-contents .card.orange:hover .card-body .list li {
  color: #696871;
}

#packages .bottom-tabs-contents .card.orange:hover .card-body .card-started-btn {
  background: #FFFFFF;
  color: #5454D4;
}

#packages .bottom-tabs-contents .card.orange:hover .card-body .card-started-btn:hover {
  background: #5454D4;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .navbar .nav-item .nav-link {
    border: none;
  }
  .navbar .buttn {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .navbar .nav-item .nav-link {
    border: none;
  }
  .navbar .navbar-toggler {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #E7E7E7;
    color: #5454D4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .navbar-toggler.active {
    border: 2px solid #5454D4;
  }
}

@media (max-width: 520px) {
  #hero .text-box .title {
    font-size: 48px;
    line-height: 60px;
  }
  #hero .text-box .desc {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */