@import './config';

// All Css Are Goes Haire


// Navbar Design
#main-header.active{
    .navbar{
        padding: 0.5rem 0;
    }
}
.navbar{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem 0;
    transition: all 0.2s ease;

    .nav-item{
        .nav-link{
            font-size: 15px;
            font-family: $font-dm;
            font-weight: 500;
            color: $color-gray;
            border-bottom: 2px solid transparent;
            margin: 0 7px;
            padding: 4px 2px;
            transition: all 0.3s ease;

            &:hover,
            &.active{
                color: $color-black;
                border-color: $color-blue;
            }
        }
    }

    // Btn Design
    .buttn{
        @include btnn($color-orange, $color-white);
    }
}


// Hero Design
#hero{
    padding-top: 7rem;

    .text-box{
        .title{
            display: block;
            font-size: 72px;
            line-height: 78px;
            letter-spacing: 1.5px;
            color: $color-black;
            font-family: $font-mulish;
            font-weight: 900;
        }
        .desc{
            font-size: 20px;
            font-family: $font-mulish;
            color: $color-gray;
            font-weight: 500;
            line-height: 30px;
            margin-top: 1.5rem
        }

        .btns{
            .buttn{
                &.square{
                    @include btnn($color-blue, $color-white);
                    margin-right: 1rem;
                }
                &.round{
                    width: 46px;
                    height: 46px;
                    font-size: 22px;
                    font-weight: bold;
                    color: $color-gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    border: 1px solid $color-gray;
                    margin-left: 1rem;
                }
            }
        }
    }
}


// Subscription
#subscription{

    .text-box{
        display: block;
        // padding-right: 5rem;

        .title{
            font-size: 44px;
            font-weight: 800;
            font-family: $font-mulish;
            margin-bottom: 2rem;
        }

        .desc{
            font-family: $font-mulish;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }

        .link{
            font-family: $font-dm;
            font-size: 17px;
            line-height: 19px;
            font-weight: 500;
            color: $color-blue;
            text-decoration: none;
        }
    }
}


// Services
#services{
    .card{
        border: none;

        .card-body{
            padding: 0.5rem;

            img{
                width: 80%;
            }
            .card-title{
                font-size: 32px;
                font-weight: 800;
                font-family: $font-mulish;
                margin-bottom: 1rem;
                color: $color-black;
            }

            .card-text{
                font-size: 16px;
                font-family: $font-mulish;
                font-weight: 400;
                line-height: 24px;
                color: $color-gray;
            }
        }
    }
}


// Packages
#packages{
    .top-tab-navs{
        .title{
            font-size: 60px;
            line-height: 70px;
            font-family: $font-dm;
            font-weight: 700;
            letter-spacing: 0px;
            color: $color-black;
        }

        .tab-nav{
            border: none;

            .nav-item{
                border: none;

                .nav-link{
                    border: none;
                    padding: 1rem 2rem; 
                    background: $color-gray-2;
                    width: 150px;
                    height: 54px;
                    font-size: 16px;
                    font-family: $font-mulish;
                    font-weight: 700;
                    color: $color-black;

                    &.active{
                        background: $color-blue;
                        color: $color-white;
                    }
                }

                &:first-child{
                    .nav-link{
                        border-radius: 4px 0px 0px 4px;
                    }
                }
                &:last-child{
                    .nav-link{
                        border-radius: 0px 4px 4px 0px;
                    }
                }
            }
        }
    }

    .bottom-tabs-contents{

        .card{
            background: $color-gray-3;
            transition: all 0.3s ease;

            

            .card-body{
                padding: 3rem 2rem;

                .subtitle{
                    font-family: $font-dm;
                    font-size: 18px;
                    color: $color-gray;
                    font-weight: 500;
                    transition: all 0.3s ease;
                }

                .title{
                    font-family: $font-mulish;
                    color: $color-black;
                    font-weight: 800;
                    padding-bottom: 0.5rem;
                    transition: all 0.3s ease;

                    .price{
                        font-size: 52px;
                    }
                    .price-time{
                        font-size: 24px;
                    }
                }

                .list{
                    list-style: none;
                    padding: 1rem 0;

                    li{
                        font-size: 17px;
                        font-family: $font-mulish;
                        font-weight: 500;
                        color: $color-gray;
                        padding: 0.5rem 0;
                        transition: all 0.3s ease;
                    }
                }

                .card-started-btn{
                    padding: 1rem 0;
                    border-radius: 5px;
                    background: $color-white;
                    color: $color-blue;
                    font-size: 16px;
                    font-family: $font-mulish;
                    font-weight: 700;
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover{
                        background: $color-blue;
                        color: $color-white;
                    }
                }
            }

            &:hover{
                background: $color-orange;

                .card-body{
                    .subtitle{
                        color: $color-white;
                    }
                    .title{
                        color: $color-white;
                    }
                    .list li{
                        color: $color-white;
                    }
                    .card-started-btn{
                        background: $color-white;
                        color: $color-blue;

                        &:hover{
                            background: $color-blue;
                            color: $color-white;
                        }
                    }
                }
            }

            &.orange{
                display: block;
                background: $color-orange;
                padding: 1.6rem 0;

                .subtitle{
                    color: $color-white;
                }
                .title{
                    color: $color-white;
                }
                .list li{
                    color: $color-white;
                }
                .card-started-btn{
                    background: $color-red;
                    color: $color-white;
                }

                &:hover{
                    background: $color-gray-3;
    
                    .card-body{
                        .subtitle{
                            color: $color-gray;
                        }
                        .title{
                            color: $color-black;
                        }
                        .list li{
                            color: $color-gray;
                        }
                        .card-started-btn{
                            background: $color-white;
                            color: $color-blue;
    
                            &:hover{
                                background: $color-blue;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}



// Complate Design With Bootstrap







// Import Responsive Css
@import './responsive';